$acumin: "acumin-pro-semi-condensed", sans-serif;
$acumin-pro: "acumin-pro",sans-serif;
$source-han: "source-han-sans-simplified-c", sans-serif;
$fangsong: "adobe-fangsong-std", serif;
$kaiti: "adobe-kaiti-std", serif;

body#home {
  .navigation {
    left: 10px;
    right: 10px;
    width: auto;
  }

  @media screen and (min-width: 841px) {
    .navigation {
      .nav {
        width: 25%;
        box-sizing: border-box;
        height: 100%;
        border-bottom: none;
      }
    }
  }

}

svg path {
  vector-effect: non-scaling-stroke;
}
