$acumin-pro: "acumin-pro",sans-serif;
$kaiti: "adobe-kaiti-std", serif;
$black: black;
$white: white;
@keyframes svgDraw {
  to {
    stroke-dashoffset: 0;
  }
}
.navigation {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  border-right: solid 1px $black;
  border-bottom: solid 1px $black;
  color: $black;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  .nav {
    display: block;
    box-sizing: border-box;
    color: black;
    width: 50%;
    height: 50%;
    border-top: solid 1px $black;
    border-left: solid 1px $black;
    position: relative;
    overflow: hidden;
    &#home {
      transition: color .6s ease; 
      h1.number {
        font-family: $acumin-pro;
        font-weight: 600;
        font-size: 20px;
      }
      &:hover {
        background-color: black;
        color: white;
      }
    }
    h1.number {
      position: absolute;
      font-family: $acumin-pro;
      font-weight: 300;
      font-size: 44px;
      line-height: 44px;
      left: 25px;
      top: 20px;
    }
    h2.English {
      position: absolute;
      font-family: $acumin-pro;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 21px;
      line-height: 23px;
      top: 36%;
      left: 25px;
      right: 66px;
    }
    h2.Chinese {
      position: absolute;
      font-family: $kaiti;
      font-size: 44px;
      letter-spacing: 2px;
      line-height: 46px;
      writing-mode: vertical-rl;
      top: 36%;
      right: 20px;
      height: 64%;
      &:after {
        content: "←";
        font-family: $acumin-pro;
        writing-mode: horizontal-tb;
        position: absolute;
        left: 0;
        bottom: 10px;
      }
    }
    svg {
      position: absolute;
      top: calc(36% + 56px);
      left: 20px;
      height: calc(64% - 36px);
      width: auto;
      max-width: 100%;
      transition: all 1s linear;
      path,
      polyline,
      polygon {
        vector-effect: non-scaling-stroke;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1001;
      }
    }
    &:hover {
      cursor: pointer;
      svg{
        path,
        polyline,
        polygon {
          animation: svgDraw 5s ease forwards;
        }
      }
    }
  }
}


@media screen and (max-height: 619px) {
  .navigation {
    width: 1000px;
    .nav {
      width: 25%;
      box-sizing: border-box;
      height: 100%;
      border-bottom: none;
    }
  }
}
@media screen and (min-height: 621px) and (max-height: 750px) {
  body#xi, body#shui {
    .navigation .nav {
      h1.number {
        top: 10px;
      }
      h2.English {
        top: 80px;
      }
      h2.Chinese {
        top: 80px;
        height: calc(100% - 80px);
      }
      svg {
        top: 149px;
        left: 20px;
        height: calc(100% - 126px);
      }
    }
  }
}
