$acumin: "acumin-pro-semi-condensed",sans-serif;
$source-han: "source-han-sans-simplified-c",sans-serif;
$fangsong: "adobe-fangsong-std",serif;
body {
  font-family: $source-han;
  font-size: 16px;
  line-height: 32px;
  overflow-y: hidden;
}

.vertical-scroll-page {
  height: 100vh;
  display: inline-flex;
  flex-flow: row-reverse nowrap;
  
  .screen.intro {
    width: 100vw;
    flex-shrink: 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #2C3E50;
    
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes rotation1 {
      from {
        transform: rotate(-150deg);
      }
      to {
        transform: rotate(210deg);
      }
    }
    @keyframes rotation2 {
      from {
        transform: rotate(-240deg);
      }
      to {
        transform: rotate(120deg);
      }
    }
    
    .images {
      width: 500px;
      height: 500px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      img {
        border: solid 4px black;
      }
    }
    .title {    
      font-weight: 700;
      font-size: 200px;
      line-height: 200px;
      color: hsl(calc(360 * var(--mouse-x, 0.25)), 80%, 50%);
      mix-blend-mode: color-dodge;
      width: 500px;
      height: 500px;
      position: absolute;
      animation: rotation 6s linear infinite;
      span {
        position: absolute;
        spin {
          position: absolute;
        }
      }
      span.l1 {
        left: 150px;
        top: -30px;
        font-size: 200px;
        spin {
          animation: rotation 4s linear infinite;
        }
      }
      span.l2 {
        bottom: 210px;
        right: 210px;
        font-size: 180px;
        spin {
          animation: rotation1 4s linear infinite;
        }
      }
      span.l3 {
        bottom: 210px;
        left: 30px;
        font-size: 150px;
        spin {
          animation: rotation2 4s linear infinite;
        }
      }
    }
    .s1, .s2, .s3, .s4 {
      position: absolute;
    }
    .s1 {
      top: -100px;
      left: -180px;
      transform: rotate(-15deg);
    }
    .s2 {
      top: -30px;
      right: -260px;
      transform: rotate(-20deg);
    }
    .s3 {
      bottom: -10px;
      left: -120px;
      transform: rotate(-45deg);
    }
    .s4 {
      bottom: -50px;
      right: -290px;
      transform: rotate(15deg);
    }
    .author {
      writing-mode: vertical-rl;
      line-height: 1.2;
      text-align: center;
      height: 100%;
      padding-top: 82px;
      position: absolute;
      left: 144px;
      span {
        font-size: 45px;
        letter-spacing: 10px;
        color: white;
        background-color: black;
        border: solid 4px black;
        padding: 30px 0 16px 0;
      }
      
      &.subtitle {
        left: 40px;
        padding-top: 0;
        span {
          color: black;
          background-color: white;
        }
      }
    }
  }
  .screen.parallax {
    width: 1180px;
    flex-shrink: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
    background: #edf4f6;
    .pictures {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 968px;
      height: 856px;

      .front, .middle, .back {
        position: absolute;
        background-repeat: no-repeat;
        transition: all 100ms ease;
        background-size: cover;
      }

      .back {
        top: 100px;
        left: 80px;
        transform: translate3d(
          calc( ( var(--mouse-x, 0.5) - 1 ) * 20px),
          calc( ( var(--mouse-y, 0.5) - 1 ) * 20px), 
          0px);
        width: 334px;
        height: 249px;
        background-image: url('/assets/back.png');
      }

      .middle {
        top: 177px;
        left: 152px;
        transform: translate3d( 
          calc( 0px - ( var(--mouse-x, 0.5) - 1 ) * 10px),
          calc( 0px - ( var(--mouse-y, 0.5) - 1 ) * 10px), 
          0px);
        width: 629px;
        height: 424px;
        background-image: url('/assets/middle.png');
      }

      .front {
        top: 408px;
        left: 450px;
        transform: translate3d(
          calc( 0px - ( var(--mouse-x, 0.5) - 1 ) * 40px),
          calc( 0px - ( var(--mouse-y, 0.5) - 1 ) * 40px), 
          0px);
        width: 401px;
        height: 384px;
        background-image: url('/assets/front.png');
      }
    }
    .characters {
      position: absolute;
      bottom: 0px;
      left: 20px;
      .character {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
        .profile {
          width: 120px;
          height: 120px;
          border: solid 1px black;
          box-sizing: border-box;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
        }
        .name {
          font-family: $fangsong;
          letter-spacing: 4px;
          font-size: 20px;
          line-height: 20px;
          padding: 10px 0 6px 0;
          writing-mode: vertical-rl;
          border-top: solid 8px black;
          border-bottom: solid 8px black;
          display: inline-block;
          margin: auto auto 18px 10px;
        }
        &.tang .profile {
          background-image: url(/assets/tang.png);
        }
        &.sun .profile {
          background-image: url(/assets/sun.png);
        }
        &.zhu {
          margin-left: 183px;
        }
        &.zhu .profile {
          background-image: url(/assets/zhu.png);
        }
        &.sha .profile {
          background-image: url(/assets/sha.png);
        }
      }
    }
    h1, h2{
      writing-mode: vertical-rl;
      height: 100%;
      line-height: 1.2;
      font-weight: 300;
      float: right;
      padding-top: 50px;
    }

    h1 {
      font-size: 70px;
    }

    h2 {
      font-size: 55px;
    }

    .lower-right {
      text-align: right;
      float: left;
      padding-top: 0;
      padding-bottom: 300px;
      box-sizing: border-box;
    }
  } 
  .screen.description {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    
    @media only screen and (min-height: 800px) {
      padding: 50px;      
    }
    
    .side {
      display: flex;
      flex-direction: row-reverse;
      
      &.red {
        color: #E74C3C;
      }
      
      &.blue {
        color: #3498DB;
      }
    }
    
    h1, p{
      writing-mode: vertical-rl;
      line-height: 1.2;
      float: right;
      height: 100%;
      letter-spacing: 0.06em;
    }
    
    h1 {
      font-size: 60px;
      font-weight: 100;
      white-space: nowrap;
      margin: 0 40px 0 20px;
    }
    
    p {
      font-family: $fangsong;
      font-size: 30px;
      line-height: 60px;
    }
  }
  
  
  @keyframes change-forward {
    0% {
      background-position: center 0;
    };
    50% {
      background-position: center 3240px;
    };
    100% {
      background-position: center 6480px;
    }
  }
  @keyframes change-backward {
    0% {
      background-position: center 6480px;
    };
    50% {
      background-position: center 3240px;
    };
    100% {
      background-position: center 0;
    }
  }
  
  .screen.change {
    flex-shrink: 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: black;
    padding: 0 20px;
    .center {
      color: white;
      writing-mode: vertical-rl;
      background-color: #fff;
      color: #000;
      font-size: 30px;
      letter-spacing: 4px;
      line-height: 120px;
      text-align: center;
      border-left: solid 20px #000;
      border-right: solid 20px #000;
    }
    .end {
      text-align: center;
      font-size: 40px;
      line-height: 80px;
      color: white;
      writing-mode: vertical-rl;
      padding-right: 40px;
      padding-left: 100px;
    }
    .c5 {
      background: url(/assets/c5.svg) repeat-y; 
      animation-name: change-backward;
      animation-duration: 24s;
      width: 18px;
      // filter: blur(3px);
    }
    .c4 {
      background: url(/assets/c4.svg) repeat-y; 
      animation-name: change-forward;
      animation-duration: 15s;
      width: 36px;
      // filter: blur(3px);
    }
    .c3 {
      background: url(/assets/c3.svg) repeat-y;
      animation-name: change-backward;
      animation-duration: 20s;
      width: 72px;
      // filter: blur(2px);
    }
    .c2 {
      background: url(/assets/c2.svg) repeat-y;
      animation-name: change-forward;
      animation-duration: 25s;
      width: 108px;
      // filter: blur(2px);
    }
    .c1 {
      background: url(/assets/c1.svg) repeat-y;
      animation-name: change-backward;
      animation-duration: 25s;
      width: 144px;
    }
    .c1, .c2, .c3, .c4, .c5, .p1, .p2, .p3, .p4, .p5 {
      transition: all .1s ease-in;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      &:hover {
        cursor: pointer;
        animation-play-state: paused;
        // background-color: red;
        // filter: blur(0);
      }
    }
    .p1 {
      background: url(/assets/p1.svg) repeat-y;
      animation-name: change-forward;
      animation-duration: 25s;
      width: 144px;
    }
    .p2 {
      background: url(/assets/p2.svg) repeat-y;
      animation-name: change-backward;
      animation-duration: 25s;
      width: 108px;
      // filter: blur(2px);
    }
    .p3 {
      background: url(/assets/p3.svg) repeat-y;
      animation-name: change-forward;
      animation-duration: 20s;
      width: 72px;
      // filter: blur(2px);
    }
    .p4 {
      background: url(/assets/p4.svg) repeat-y; 
      animation-name: change-backward;
      animation-duration: 15s;
      width: 36px;
      // filter: blur(3px);
    }
    .p5 {
      background: url(/assets/p5.svg) repeat-y; 
      animation-name: change-forward;
      animation-duration: 24s;
      width: 18px;
      // filter: blur(3px);
    }
  }
}
